<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782045058138-f83kut3a8bf3ut40phtem9eqamp6tqi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782045058138-f83kut3a8bf3ut40phtem9eqamp6tqi0</string>
	<key>API_KEY</key>
	<string>AIzaSyDGdbEOAtmmmYGdYVWs5afT7gSpjX87miM</string>
	<key>GCM_SENDER_ID</key>
	<string>782045058138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geronimo.ramon.OnrampProject</string>
	<key>PROJECT_ID</key>
	<string>photogallery-8bafc</string>
	<key>STORAGE_BUCKET</key>
	<string>photogallery-8bafc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782045058138:ios:7ce73f72a41d9ac53db463</string>
	<key>DATABASE_URL</key>
	<string>https://photogallery-8bafc.firebaseio.com</string>
</dict>
</plist>